.container-sites {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2.69rem;
    flex-wrap: wrap;
}
.container-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-img img {
    width: 10.31363rem;
    height: 6.11519rem;
}

.container-img .name-img {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    padding-top: 3.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.site{
    display: flex;
}
.site .line-site {
    display: block;
    width:0.0625rem;
    height:  11.375rem  ;
    background:linear-gradient(#000000, #00000030) ;
    margin-left: 1.44rem;
    margin-right: 1.44rem;
}