.search {
    position: relative;
}

.search img {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;

}

.search input {
    border-radius: 0.9375rem;
    border: 1px solid var(---color-blue);
    background-color: transparent;
}

.search input::-webkit-input-placeholder {
    text-align: right;
    padding-right: 0.2rem;
    font-size: 1rem;
    font-weight: 400;
    color: #56505066;
}

@media(max-width:990px){
    .search{
        width: 100%;
    }
    .search input{
        width: 100%;
    }
}