.ministry{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 9.38rem;
    padding-left: 9.22rem;
    padding-right: 9.22rem;
}


@media (max-width: 990px){
    .ministry{
        display: none;
    }
}
